* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
button {
  margin: 10px;
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(0, 119, 255);
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: rgb(1, 107, 230);
}
